<h3>Fueling statistics</h3>
<div class="col-xs-5">
	<table class="table table-striped">
		<tr>
			<td>Fuel consumption avarage</td>
			<td>7.51 liter / 100 km</td>
		</tr>
		<tr>
			<td>Total number of fueling events</td>
			<td>6</td>
		</tr>
		<tr>
			<td>Last consumption</td>
			<td>8.51 liter / 100 km</td>
		</tr>
		<tr>
			<td>Spent on fuel - this year</td>
			<td>445 563 HUF</td>
		</tr>
		<tr>
			<td>Spent on fuel - this month</td>
			<td>20 482 HUF</td>
		</tr>
		<tr>
			<td>Spent on fuel - last 30 days</td>
			<td>12 450 HUF</td>
		</tr>
		
		
		
	</table>
</div>