<h3>List all fueling entries</h3>
<div class="col-xs-8">
	<table class="table table-striped">
		<tr>
			<th>Id</th>
			<th>Date</th>
			<th>Odometer</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Total</th>
			<th>Action</th>
		</tr>
		<tr ng-repeat="consumption in consumptions">
			<td>{{consumption.id}}</td>
			<td>{{consumption.date | date:'yyyy-MM-dd'}}</td>
			<td>{{consumption.odo}} km</td>
			<td>{{consumption.quantity}} liter</td>
			<td>{{consumption.price | HUF}}</td>
			<td>{{consumption.price * consumption.quantity | HUF}}</td>
			<td>
			 <div>
				<button class="btn btn-danger btn-sm" ng-click="deleteConsumption(consumption)"><span class="glyphicon glyphicon-trash"/></button>
				<button class="btn btn-primary btn-sm" ng-click="openForEdit(consumption.id)"><span class="glyphicon glyphicon-edit"/></button>
			 </div>	
			</td>
		</tr>
	</table>
</div>